@font-face {
  font-family : Work Sans;
  src:url(../public/FONTS/Work_Sans/WorkSans-VariableFont_wght.ttf)
}

.toggle-btn:hover {
  background-color: #3b57d1;
}
*{
  @apply transition-colors duration-100
}
.parallax-enter {
  transform: translateY(50px);
  opacity: 0;
}

.parallax-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 500ms ease, opacity 500ms ease;
}

.parallax-exit {
  transform: translateY(0);
  opacity: 1;
}

.parallax-exit-active {
  transform: translateY(-50px);
  opacity: 0;
  transition: transform 500ms ease, opacity 500ms ease;
}















@tailwind base;
@tailwind components;
@tailwind utilities;
